@use 'sass:math';

// Colors
$background-color: #121212;
$text-color: #E1E1E1;
$panel-color: #303030;
$accent-color: #5F65F8;

// Testing
$test-components: 1px solid red;

// Borders
$border-radius: 2rem;

// Font Sizes
$font-size-reg: 20px;
$font-size-sml: $font-size-reg *.5;
$font-size-lg: $font-size-reg * 1.5;
$font-size-xlg: $font-size-reg * 2;