// Colors
$background-color: #121212;
$text-color: #E1E1E1;
$panel-color: #303030;
$accent-color: #5F65F8;

// Testing
$test-components:1px solid red;

// Borders
$border-radius: 2rem;

// Font Sizes
$font-size-reg: 20px;
$font-size-sml: 12px;
$font-size-lg: 30px;
$font-size-xlg: 36px;


