@use 'sass:math';

// Colors
$background-color: #121212;
$text-color: #E1E1E1;
$panel-color: #303030;
$accent-color: #5F65F8;

// Testing
$test-components: 1px solid red;

// Borders
$border-radius: 2rem;

// Font Sizes
$font-size-reg: 1.0vw;
$font-size-sml: $font-size-reg *.5;
$font-size-lg: $font-size-reg * 1.5;
$font-size-xlg: $font-size-reg * 2;

// Dimesions
$full-height:100%;
$full-width:100%;
$half-width: $full-width * .5;
$half-height:$full-height * .5;
$quarter-width: $full-width * .25;
$quarter-height:$full-height * .25;
$partial-full-width: $full-width * .95;
$partial-full-height:$full-height * .95;

%image-dim{
  max-width: 10vw;
  max-height: 10vh;
  border-radius: 100%;
  object-fit: cover;
  overflow: hidden;
}

// Mixin for centering elements
%center-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


// Animations
@keyframes slideIn {
  from {
      left: -300px;
  }

  to {
      left: 0;
  }
}

@keyframes slideOut {
  from {
      left: 0;
  }

  to {
      left: -265px;
  }
}

$slideOut-animation: slideOut .3s ease-in-out;
$slideIn-animation: slideIn .3s ease-in-out;