// Mixin for centering elements
%center-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


// Define animations
@keyframes slideIn {
    from {
        left: -300px;
    }

    to {
        left: 0;
    }
}

@keyframes slideOut {
    from {
        left: 0;
    }

    to {
        left: -265px;
    }
}

// Styles for the .navbar component
.navbar {
    @extend %center-component;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;

    // **************************************
    // SlideIN only works w/ Postion Absolute but we dont want that so will adjust later 
    // &.open {
    //     animation-name: slideIn;
    //     height: 100%;
    //     position: absolute;
    //     animation-duration: 0.3s;
    // }
    // **************************************


    // Apply SlideOut animation when the navbar is Closed
    &.close {
        animation-name: slideOut;
        left: -325px;
        position: absolute;
        height: 100%;
        animation-duration: 0.3s;
    }

    .user-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        gap: 1rem;
        background-color: $panel-color;
        color: $text-color;
        border-radius: $border-radius;
        margin: 1rem 1rem;
        padding: 2rem 4rem;
        height: 95%;
        font-size: $font-size-lg;
    }

    .user-profile>img {
        max-width: 150px;
        height: 150px;
        object-fit: cover;
        overflow: hidden;
        border-radius: 100%;
    }

    .user-profile {
        @extend %center-component;
    }

    .navlinks {
        @extend %center-component;
        margin-top: 1rem;
        align-items: baseline;
        padding: 0px;
        gap: 10px;
        font-size: $font-size-reg;

    }

    .navlinks>* {
        color: $text-color;
        text-decoration: none;
    }

    .active {
        color: $accent-color;
        font-weight: bold;
    }

    .navlinks>*:hover {
        color: $accent-color;
        font-weight: bold;
    }

    .close-button {
        font-size: $font-size-lg;
        position: absolute;
        border-radius: 20rem;
        background-color: $panel-color;
        color: $text-color;
        border-radius: $border-radius;
        border: none;
        top: 465px;
        left: 265px;
        padding: 7px 20px;
        cursor: pointer;

        // Apply close-slide animation when the navbar is open
        &.close-slide {
            animation-name: slideOut;
            left: 310px;
        }

        // Apply close-slide animation when the navbar is open
        &.open-slide {
            animation-name: slideIn;
        }
    }


}