// Define animations


// Styles for the .navbar component
.navbar {
    @extend %center-component;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;

    // **************************************
    // SlideIN only works w/ Postion Absolute but we dont want that so will adjust later
    // &.open {
    //     animation:$slideIn-animation;
    // }

    // **************************************


    // Apply SlideOut animation when the navbar is Closed
    &.close {
        animation: $slideOut-animation;
        left: -325px;
        position: absolute;
        height: 100%;
        animation-duration: 0.3s;
    }

    .user-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: $full-height;
        gap: 1rem;
        background-color: $panel-color;
        color: $text-color;
        border-radius: $border-radius;
        margin: 1vh 0rem;
        padding: 2vh 7vh;
        font-size: $font-size-lg;
    }

    .user-profile>img {
        @extend %image-dim;
    }

    .user-profile {
        @extend %center-component;
    }

    .navlinks {
        @extend %center-component;
        margin-top: 1rem;
        align-items: baseline;
        padding: 0px;
        gap: 10px;
        font-size: $font-size-reg;

    }

    .navlinks>* {
        color: $text-color;
        text-decoration: none;
    }

    .active {
        color: $accent-color;
        font-weight: bold;
    }

    .navlinks>*:hover {
        color: $accent-color;
        font-weight: bold;
    }
}


@media (max-width:768) {
    .user-container{
        position: absolute;
    }    
}